{% extends 'base.html.twig' %}

{% block title %}Edit TVA{% endblock %}

{% block body %}
    <h1>Edit TVA</h1>

    {{ include('admin_tva/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_tva_index') }}">back to list</a>

    {{ include('admin_tva/_delete_form.html.twig') }}
{% endblock %}
