{% extends 'base.html.twig' %}

{% block title %}New TVA{% endblock %}

{% block body %}
    <h1>Create new TVA</h1>

    {{ include('admin_tva/_form.html.twig') }}

    <a href="{{ path('app_admin_tva_index') }}">back to list</a>
{% endblock %}
